.container {
    color: rgba(8, 26, 48, 0.909);
    background-color: #e6eaefc0;
    margin: 20px 40px;
    font-family: 'Roboto Mono', monospace;
    border: 2px double rgba(22, 54, 94, 0.909);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}