.container {
    color: rgba(22, 54, 94, 0.909);
    background-color: #e6eaef91;
    margin: 20px 40px;
    font-family: 'Roboto Mono', monospace;
    border: 2px double rgba(22, 54, 94, 0.909);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}