.footer {
    margin: 20px 30px;
    border: 2px solid rgb(4, 16, 30);
    border-radius: 5px;
    background-color: #e6eaef91;
    text-align: center;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.fotter__linkadd {
    color: rgba(8, 26, 48, 0.909);
}

.fotter__linkadd:hover {
    color: rgba(34, 88, 154, 0.909);
}