.footer {
    margin: 20px 30px;
    border: 2px double #16365ee8;
    border-radius: 8px;
    background-color: #e6eaef91;
    text-align: center;
    box-shadow: 8px 8px 24px 0px rgba(24, 70, 91, 1);
}

.fotter__linkadd {
    color: rgba(8, 26, 48, 0.909);
}

.fotter__linkadd:hover {
    color: rgba(34, 88, 154, 0.909);
}