html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.body {
    background-color: rgba(57, 132, 230, 0.212);
    font-family: 'Roboto Mono', monospace;
    background-image: url("../images/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

